*{
    margin: 0%;
    padding: 0%;
}

html, body{
    height: 100% !important;
    min-height: 100%;
    
}

body{
    background-color: #f2f2f2;
    min-height: 650px;
}

article > p{
    text-align: center;
    text-decoration: double;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif; 
    font-size: 50px; 
    color: white; 
    margin-top: 8%;
    animation: moveLetters 2s infinite;

}
body{
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}
@keyframes moveLetters {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0);
    }
}
