/*esto es importante para el login*/
html, body{
    height: 100% !important;
    min-height: 100%;
    
}

body{
    background-color: #f2f2f2;
    min-height: 650px;
}

h1{
    margin-top: 3%;
}

#login{
    max-width: 650px;
}
