*{
    margin: 0%;
    padding: 0%;
}
.container > h1 {
    text-align: center;
}

.col-md-4{
    padding: 30px;
    text-align: center;
}

.container{
    color:black ;
    font-weight: bolder;
}

.usuario{
    background-color: white;
}
